*.DS_Store
/odin_project/build/Renderer.exe
/odin_project/build/Renderer.exe.dSYM/Contents/Resources/DWARF/Renderer.exe
/odin_project/build/Renderer.exe.dSYM/Contents/Resources/Relocations/aarch64/Renderer.exe.yml
